<% include ./partials/header %>

<form action="/entries/<%= entry._id %>?_method=PUT" method="POST">
    <label for="title">Title</label>
    <input id="title" name="entry[title]" type="text" value="<%= entry.title %>">
    <label for="image">Image</label>
    <input id="image" name="entry[image]" type="text" value="<%= entry.image %>">
    <label for="keyEvents">Key Events</label>
    <input id="keyEvents" name="entry[keyEvents]" type="text" value="<%= entry.keyEvents %>">
    <label for="content">Content</label>
    <textarea id="content" name="entry[content]" type="text" placeholder="Content"><%= entry.content %></textarea>
    <button>Edit Entry</button>
</form>

<% include ./partials/footer %>