<% include ./partials/header %>

<h1>Your Hopes, Dreams, and Life Story</h1>

<% entries.forEach(function(entry) { %>
    <h3><%= entry.title %></h3>
    <img src="<%= entry.image %>">
    <p><%= entry.created %></p>
    <p><strong><%= entry.keyEvents %></strong></p>
    <p><%= entry.content %></p>
    <a href="/entries/<%= entry._id %>">Read More</a>
<% }); %>

<% include ./partials/footer %>