<% include ./partials/header %>

<h1><%= entry.title %></h1>
<h4><%= entry.created %></h4>
<img src="<%= entry.image %>">
<h2><%= entry.keyEvents %></h2>
<p><%= entry.content %></p>

<% include ./partials/footer %>